name: Terraform

on:
  push:
    branches: [master]
  pull_request:

jobs:
  terraform:
    name: Terraform AWS Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Init
        run: terraform init

      - name: Plan
        run: terraform plan -var "aws_region=${{ secrets.AWS_REGION }}"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Apply
        if: github.ref == 'refs/heads/master'
        run: |
          echo "游릭 Variable AWS_REGION: ${{ secrets.AWS_REGION }}"
          echo "游릭 Variable AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}"
          echo "游릭 Variable AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          terraform apply -auto-approve -var="aws_region=us-east-1"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Terraform Output
        run: terraform output
